@import "./Home.css";
@import "./ChatFooter.css";
@import "./ChatBody.css";
@import "./ChatSidebar.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
